[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[user]
	name = David Nguyen
	email = hpcsc@users.noreply.github.com
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
	mnemonicprefix = true
[includeIf "gitdir:~/Workspace/Code/"]
  	path = .gitconfig-work
