snippet rdes "rspec describe block"
describe '$1' do
	$2
end
endsnippet

snippet rcon "rspec context block"
context '$1' do
	$2
end
endsnippet

snippet rbe "rspec before each block"
before(:each) do
	$1
end
endsnippet

snippet rae "rspec after each block"
after(:each) do
	$1
end
endsnippet

snippet rit "rspec it"
it '$1' do
	$2
end
endsnippet

snippet rdef "ruby def block"
def $1($2)
	$3
end
endsnippet

snippet rclass "ruby class block"
class $1
	$2
end
endsnippet
