alias dk='docker'
alias dls='docker container ls -a'
alias dsa='docker container start'
alias dso='docker container stop'
alias drm='docker container rm'
alias di='docker container inspect'
alias de='docker container exec'
alias dl='docker container logs'
alias dit='docker container run -it'

alias dils='docker image ls'
alias dirm='docker image rm'

alias dnls='docker network ls'
alias dni='docker network inspect'

alias dvls='docker volume ls'
alias dvi='docker volume inspect'
alias dvrm='docker volume rm -f'

alias dc='docker-compose'
alias dcls='docker-compose ps'
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias dcub='docker-compose up --build'
alias dcso='docker-compose stop'
alias dcsa='docker-compose start'
alias dcra='docker-compose restart'
alias dce='docker-compose exec'
alias dcb='docker-compose build'
alias dcl='docker-compose logs'
alias dcrm='docker-compose rm -f'

alias k='kubectl'
alias mk='minikube'
alias kc='kubectl config'
alias kccls='kubectl config get-contexts'
alias kcc='kubectl config use-context'
alias krm='kubectl delete'
alias krmi='kubectl delete ingress'
alias krmp='kubectl delete pod'
alias krmd='kubectl delete deployment'
alias krms='kubectl delete service'
alias kl='kubectl logs'
alias ke='kubectl exec'
alias kd='kubectl describe'
alias kdi='kubectl describe ingress'
alias kdp='kubectl describe pod'
alias kdd='kubectl describe deployment'
alias kds='kubectl describe service'
alias kg='kubectl get'
alias kgi='kubectl get ingress'
alias kgp='kubectl get pod'
alias kgd='kubectl get deployment'
alias kgs='kubectl get service'
alias kga='kubectl get ingress,service,deployment,pod'
alias kr='kubectl rollout'
alias ka='kubectl apply --record -f'

alias i=itermocil
alias ils='itermocil --list'

alias gdt='git difftool'

alias cssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias rrc="source $HOME/.zshrc"

alias c='clear'

_git_log_oneline_compact_format="%C(green)%h%C(reset) %s%C(red)%d%C(reset)"
alias gloc='git log --topo-order --graph --decorate --pretty=format:"${_git_log_oneline_compact_format}"'

alias itree='tree -a -L 2 -I "$(git check-ignore {.,}* | tr "\\n" "|").git"'

alias muxe='mux start editor'
