# Docker

alias dk='docker'
alias dls='docker container ls -a'
alias dsa='docker container start'
alias dso='docker container stop'
alias drm='docker container rm -fv'
alias di='docker container inspect'
alias de='docker container exec'
alias dl='docker container logs'
alias dit='docker container run -it'
alias ditr='docker container run -it --rm'

alias dils='docker image ls'
alias dirm='docker image rm'

alias dnls='docker network ls'
alias dni='docker network inspect'

alias dvls='docker volume ls'
alias dvi='docker volume inspect'
alias dvrm='docker volume rm -f'

alias dc='docker-compose'
alias dcls='docker-compose ps'
alias dcu='docker-compose up'
alias dcd='docker-compose down -v'
alias dcr='docker-compose run'
alias dcub='docker-compose up --build'
alias dcso='docker-compose stop'
alias dcsa='docker-compose start'
alias dcra='docker-compose restart'
alias dce='docker-compose exec'
alias dcb='docker-compose build'
alias dcl='docker-compose logs'
alias dcrm='docker-compose rm -fsv'

# nsenter command to run sh in the namepsace of Docker for Mac xhyve VM: nsenter --target 1 --mount --uts --net --ipc sh
alias enter-docker-vm='docker run -it --rm --privileged --pid=host justincormack/nsenter1'

# Kubernetes

alias k='kubectl'
alias mk='minikube'
alias kc='kubectl config'
alias krm='kubectl delete'
alias kl='kubectl logs'
alias ke='kubectl exec'
alias kd='kubectl describe'
alias kls='kubectl get'
alias klsa='kubectl get all'
alias klsr='kubectl api-resources --namespaced=true'
alias kr='kubectl rollout'
alias ka='kubectl apply --record -f'
alias kns='kubens'
alias kcc='kubectx'
alias kn='kubectl config set-context --current --namespace '
alias kga='kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --ignore-not-found --show-kind'

alias h='helm'
alias hls='helm ls -a'
alias hrm='helm delete --purge'

alias i='istioctl'
alias ipc='istioctl proxy-config -o json'

# Tools
alias ap='aws-profile'

alias an='ansible'
alias anp='ansible-playbook'
alias ang='ansible-galaxy'

alias t='terraform'
alias tw='terraform workspace'
alias twls='terraform workspace list'
alias twrm='terraform workspace delete'

alias v='vagrant'
alias vu='vagrant up'
alias vrm='vagrant destroy -f'
alias vls='vagrant status'
alias vgs='vagrant global-status'

alias dn='dotnet'

# Git

_git_log_oneline_compact_format="%C(green)%h%C(reset) %s%C(red)%d%C(reset)"
alias gloc='git log --topo-order --graph --decorate --pretty=format:"${_git_log_oneline_compact_format}"'
alias gdt='git difftool'
alias git-prune-local='git fetch -p origin && git branch -vv | grep ": gone" | sed "s/^[ \*]*\([^ ]*\).*$/\1/g" | xargs git branch -D'
alias resolve='git diff --name-only --diff-filter=U | xargs git checkout --theirs'
alias add-resolve='git diff --name-only --diff-filter=U | xargs git add'

# Misc

alias cssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias rrc="source $HOME/.zshrc"
alias c='clear'
alias pvim='rm -f ~/.nvim-startup.log && nvim --startuptime ~/.nvim-startup.log -c "q"'
alias itree='tree -a -L 2 -I "$(git check-ignore {.,}* | tr "\\n" "|").git"'
alias colors='for i in {0..255}; do printf "\x1b[38;5;${i}m${i} "; done'
alias read-secret='IFS= read -rs '
alias mux='tmuxinator start'
