alias dk='docker'
alias dls='docker container ls -a'
alias dsa='docker container start'
alias dso='docker container stop'
alias drm='docker container rm'
alias di='docker container inspect'
alias de='docker container exec'
alias dl='docker container logs'
alias dit='docker container run -it'

alias dils='docker image ls'
alias dirm='docker image rm'

alias dnls='docker network ls'
alias dni='docker network inspect'

alias dvls='docker volume ls'
alias dvi='docker volume inspect'
alias dvrm='docker volume rm -f'

alias dc='docker-compose'
alias dcls='docker-compose ps'
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias dcr='docker-compose run'
alias dcub='docker-compose up --build'
alias dcso='docker-compose stop'
alias dcsa='docker-compose start'
alias dcra='docker-compose restart'
alias dce='docker-compose exec'
alias dcb='docker-compose build'
alias dcl='docker-compose logs'
alias dcrm='docker-compose rm -f'

alias k='kubectl'
alias mk='minikube'
alias kc='kubectl config'
alias kccls='kubectl config get-contexts'
alias kcc='kubectl config use-context'
alias krm='k-rm'
alias krmi='k-rm ingress'
alias krmp='k-rm pod'
alias krmd='k-rm deploy'
alias krms='k-rm svc'
alias kl='k-log'
alias ke='kubectl exec'
alias kd='k-describe'
alias kdi='k-describe ingress'
alias kdp='k-describe pod'
alias kdd='k-describe deploy'
alias kds='k-describe svc'
alias kls='kubectl get'
alias klsa='kubectl get all'
alias klsi='kubectl get ingress'
alias klsp='kubectl get pod'
alias klsd='kubectl get deploy'
alias klss='kubectl get svc'
alias klsr='kubectl api-resources --namespaced=true'
alias kns='k-set-default-namespace'
alias kr='kubectl rollout'
alias ka='kubectl apply --record -f'

alias aws-profile='aws-profile-utils set'
alias current-aws-profile='aws-profile-utils get'

alias i=itermocil
alias ils='itermocil --list'

alias an='ansible'
alias anp='ansible-playbook'
alias ang='ansible-galaxy'
alias tf='terraform'

alias h='helm'

alias ist='istioctl'

alias v='vagrant'
alias vgs='vagrant global-status'

alias gdt='git difftool'

alias cssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias rrc="source $HOME/.zshrc"

alias c='clear'

_git_log_oneline_compact_format="%C(green)%h%C(reset) %s%C(red)%d%C(reset)"
alias gloc='git log --topo-order --graph --decorate --pretty=format:"${_git_log_oneline_compact_format}"'

alias itree='tree -a -L 2 -I "$(git check-ignore {.,}* | tr "\\n" "|").git"'

alias muxe='mux start editor'
