source ~/.vimrc
# reference: https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
map <leader>n <Action>(ShowErrorDescription)
map <leader>d <Action>(QuickImplementations)
map <leader>h <Action>(QuickJavaDoc)
