source ~/.vimrc

set highlightedyank
set nerdtree

map gi <Action>(GotoImplementation)

" Errors
map <leader>e <Action>(GotoNextError)
map <leader>E <Action>(GotoPreviousError)


# reference: https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>n <Action>(ShowErrorDescription)
map <leader>d <Action>(QuickImplementations)
map <leader>h <Action>(QuickJavaDoc)
map <leader>p <Action>(ParameterInfo)
map <leader>r <Action>(RunClass)

