[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
  ignorecase = false
	attributesfile = ~/.gitattributes
[pager]
  log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -r
  show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -r
  diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -r
[user]
	name = David Nguyen
	email = hpcsc@users.noreply.github.com
[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  hidden = !git ls-files -v | grep \"^[a-z]\"
  ignored = !git status -s --ignored | grep \"^!!\"
[color "diff"]
  ui = always
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
	mnemonicprefix = true
	tool = vimdiff
	submodule = log
[includeIf "gitdir:~/Workspace/Code/"]
  	path = .gitconfig-work
[merge]
	conflictstyle = diff3
[difftool]
	prompt = false
[difftool "code"]
  cmd = code \"$LOCAL\" \"$REMOTE\" --diff --wait
  trustExitCode = false
[difftool "dirdiff"]
  cmd = vim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE '+syntax off'
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[status]
	submoduleSummary = true
[push]
	recurseSubmodules = check
