[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[user]
	name = David Nguyen
	email = hpcsc@users.noreply.github.com
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
	mnemonicprefix = true
	tool = vimdiff
[includeIf "gitdir:~/Workspace/Code/"]
  	path = .gitconfig-work
[merge]
	conflictstyle = diff3
[difftool]
	prompt = false
[difftool "code"]
  cmd = code \"$LOCAL\" \"$REMOTE\" --diff --wait
  trustExitCode = false
[difftool "dirdiff"]
  cmd = vim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE '+syntax off'
