[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
  ignoreCase = false
	attributesfile = ~/.gitattributes
[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  hidden = !git ls-files -v | grep \"^[a-z]\"
  ignored = !git status -s --ignored | grep \"^!!\"
[color "diff"]
  ui = always
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
	mnemonicprefix = true
	tool = vimdiff
	submodule = log
[includeIf "gitdir:~/Workspace/Code/"]
  	path = .gitconfig-work
[includeIf "gitdir:~/Personal/Code/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/dotfiles.wiki/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/repo-templates/"]
  	path = .gitconfig-personal
[merge]
	conflictstyle = diff3
[difftool]
	prompt = false
[difftool "code"]
  cmd = code \"$LOCAL\" \"$REMOTE\" --diff --wait
  trustExitCode = false
[difftool "dirdiff"]
  cmd = vim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE '+syntax off'
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[status]
	submoduleSummary = true
[push]
	recurseSubmodules = check
[commit]
	gpgsign = true
[init]
	defaultBranch = main
